.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.no-categories-container {
  text-align: center;
  margin-top: 20px;
}

.no-categories-message {
  font-size: 18px;
  color: #555;
}

.reload-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.reload-button:hover {
  background-color: #0056b3;
}
